<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login with GitHub</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>

  <div class="content unauthorized">
    <h2>Welcome to Our App</h2>
    <p>Please log in to continue</p>
    <a class="btn" href="/auth">SIGN IN WITH GITHUB</a>
  </div>
  <div class="content authorized" style="display: none;">
    <p>Hello Worlds</p>
  </div>
<script src="./webpage.js"></script>
</body>
</html>
